body {
  background: #111111;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  align-items: center;
  justify-content: center;
  background: #111111;
}
.container .cont_header {
  width: 55%;
  height: 4em;
  position: absolute;
  top: 0%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.527);
}
@media (max-width: 636px) {
  .container .cont_header {
    width: 98%;
  }
}

.innerCont {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  width: 50%;
  height: 26.3em; /* Maintain fixed height */
  position: absolute;
  top: 10%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Centering adjustment */
  background: rgba(255, 255, 255, 0.9); /* Light background with slight transparency */
  border-radius: 2px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.938); /* Soft shadow for depth */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Subtle border for definition */
  background: #111111;
  background: url(../public/mil_on.png) rgb(17, 17, 17);
  background-blend-mode: color-burn;
  background-position-y: top;
  font-family: sans-serif;
  background-size: 40em;
}
.innerCont .popups {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%); /* Centering */
}

@media (max-width: 636px) {
  .innerCont {
    width: 80%; /* Full width on smaller screens */
    max-height: 65vh; /* Maximum height to ensure it fits within the viewport */
  }
}
.sender {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
  margin: 10px 0; /* Vertical spacing between messages */
}
.sender .senderInner {
  max-width: 20em;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #ff8c00; /* Light blue background */
  border: 1px solid #FB8C00; /* Darker blue border */
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.receiver {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  margin: 10px 0; /* Vertical spacing between messages */
}
.receiver .receiverInner {
  max-width: 20em;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #FB8C00; /* Light green background */
  border: 1px solid #FB8C00; /* Darker green border */
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.receiver .receiverInner .paymentLink {
  text-decoration: none;
  color: rgb(214, 193, 4);
  font-weight: bold;
  background: #000000;
  padding: 2px;
  border-radius: 4px;
}

.others {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  margin-top: -5px; /* Vertical spacing between messages */
}
.others .othersInner {
  max-width: 20em;
  font-size: 9px;
  font-family: sans-serif;
  background-color: #2e2e2e; /* Light green background */
  padding: 10px; /* Inner padding */
  border-radius: 8px; /* Rounded corners */
  color: #f8f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.others .othersInner .paymentLink {
  text-decoration: none;
  color: #f18909;
  font-weight: bold;
  background: #000000;
  padding: 2px;
  border-radius: 4px;
}

.errorMessage {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0; /* Add some vertical spacing */
  background-color: rgba(255, 1, 1, 0.1764705882); /* Light red background */
  border: 1px solid #f80707; /* Darker red border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(248, 248, 248, 0.062); /* Subtle shadow for depth */
  /* Optional: Add hover effect for error messages */
}
.errorMessage .errorMessageInner {
  max-width: 20em; /* Control width */
  color: #d8000c; /* Dark red text color */
  font-weight: bold; /* Make text bold */
  padding: 10px; /* Inner padding */
  border-radius: 5px; /* Rounded corners */
  font-family: sans-serif;
  font-size: 12px;
}
.errorMessage .errorMessage:hover {
  background-color: #ffd6d6; /* Slightly darker on hover */
  border-color: #ff1a1a; /* Darker border on hover */
  cursor: pointer; /* Change cursor on hover */
}

.inputSection {
  display: flex;
  padding: 10px;
  background: transparent; /* Light green background */
  width: 50%;
  position: absolute;
  bottom: 2%;
  border-radius: 8px; /* Rounded corners for the entire section */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.inputSection input {
  flex: 1;
  padding: 10px;
  border: 1px solid #000000; /* Theme color for border */
  border-radius: 4px;
  color: white;
  background: rgba(12, 12, 12, 0.158);
  transition: border 0.3s; /* Smooth transition for border color */
}
.inputSection input:focus {
  outline: none; /* Remove default outline */
}
.inputSection button {
  padding: 10px;
  margin-left: 10px;
  background: #FB8C00; /* Theme color for button */
  color: white;
  border: none;
  border-radius: 4px;
}
.inputSection button:hover {
  background: #FB8C00; /* Darker shade on hover */
}
.inputSection button:disabled {
  background: #eec99c; /* Light grey for disabled state */
}

@media (max-width: 636px) {
  .inputSection {
    width: 80%;
  }
}
.plain-header {
  background-color: #FB8C00;
  padding: 20px;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.plain-header h2 {
  font-size: 1rem;
  color: #ffffff;
  font-family: sans-serif;
}
.plain-header .subscribe-button {
  background-color: #ffc107;
  color: #333;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}
.plain-header .subscribe-button:hover {
  background-color: #e0a800;
}

@media (max-width: 636px) {
  .plain-header h2 {
    font-size: 1rem;
  }
}
.logged-in-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.logged-in-header h2 {
  font-size: 1.5rem;
}
.logged-in-header .subscribe-button {
  background-color: #ffc107;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.logged-in-header .subscribe-button:hover {
  background-color: #e0a800;
}

@media (max-width: 636px) {
  .logged-in-header h2 {
    font-size: 1rem;
  }
}
.subscription-success-header {
  background-color: #000000;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 3;
  font-family: sans-serif;
}
.subscription-success-header h2 {
  font-size: 1.5rem;
  margin-right: 10px;
}
.subscription-success-header .success-message {
  display: flex;
  align-items: center;
}
.subscription-success-header .success-message .success-icon {
  margin-right: 5px;
}

@media (max-width: 636px) {
  .subscription-success-header h2 {
    font-size: 1rem;
  }
}
.signup-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111111;
  font-family: sans-serif;
  background: url(../public/mil_on.png) rgb(17, 17, 17);
  background-blend-mode: color-burn;
  background-position-y: top;
  background-size: 40em;
}
.signup-container h2 {
  margin-bottom: 15px;
  width: 100%;
  align-items: left;
  color: #FB8C00;
  font-family: sans-serif;
}
.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(34, 38, 41, 0.7960784314);
}
.signup-container .btn {
  background-color: #ff7b00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.signup-container .btn:hover {
  background-color: rgba(251, 138, 0, 0.4745098039);
}

@media (max-width: 636px) {
  .signup-container {
    width: 80%;
  }
}
.verification-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}
.verification-container h2 {
  margin-bottom: 15px;
}
.verification-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verification-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.verification-container .btn {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.verification-container .btn:hover {
  background-color: #218838;
}

.login-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../public/mil_on.png) rgb(17, 17, 17);
  background-blend-mode: luminosity;
  background-blend-mode: color-burn;
  background-position-y: top;
  font-family: sans-serif;
  background-size: 30em;
}
.login-container h2 {
  margin-bottom: 15px;
  width: 100%;
  align-items: left;
  color: #FB8C00;
}
.login-container hr {
  border: 1px solid #FB8C00;
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #1b1b1b;
}
.login-container .btn {
  background-color: #FB8C00;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-container .btn:hover {
  background-color: rgba(251, 138, 0, 0.5058823529);
}

@media (max-width: 636px) {
  .login-container {
    width: 80%;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  background: rgba(197, 197, 197, 0.7607843137);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111111;
  color: #333;
}
.loading-page .loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #FB8C00; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}
.loading-page p {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #FB8C00;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #3d0000; /* Light red */
  color: #c62828; /* Dark red */
  text-align: center;
  font-family: sans-serif;
}
.error-page h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.error-page p {
  font-size: 1rem;
  margin-bottom: 30px;
}
.error-page .btn {
  padding: 10px;
  background-color: #c62828; /* Dark red */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.error-page .btn.secondary {
  background-color: transparent;
  border: 2px solid #c62828;
  color: #c62828;
}
.error-page .btn:hover {
  background-color: #9c1f1f;
}

.success-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #051e20; /* Light teal */
  color: #00af9b; /* Dark teal */
  text-align: center;
  font-family: sans-serif;
}
.success-page h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.success-page p {
  font-size: 1rem;
  margin-bottom: 30px;
}
.success-page .btn {
  padding: 10px;
  background-color: #00796b; /* Dark teal */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.success-page .btn:hover {
  background-color: #004d40; /* Darker teal */
}

.notification {
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.9;
  position: relative;
}
.notification.success {
  background-color: #FB8C00;
  color: #000000;
  border: 1px solid #FB8C00;
}
.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
.notification.info {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}
.notification.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.dots {
  padding: 4px;
  border-radius: 20px;
  display: flex;
  width: 4.5em;
  margin: 5px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(251, 138, 0, 0.2549019608); /* Darker shade of green */
}

.dots div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 7px;
  background-color: #FB8C00; /* Main theme color */
  transition: 1s ease-in-out;
}

.goUp {
  transform: translateY(-20%);
}

.two {
  transform: translateY(45%);
}

.three {
  transform: translateY(-70%);
}/*# sourceMappingURL=styles.css.map */